<div id="land">
  <div class="container">
    <div class="row login">
    <h1>Social Matrimony</h1>
      <div class="col-md-8 description">
        <div class="col-md-8 information">
          <p><%= fa_icon("quote-left")%>   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum sunt, odio provident earum, tempore veritatis id, quibusdam labore facere fugit numquam vel velit perferendis suscipit necessitatibus explicaboanimi similique molestiae, exercitationem nihil cupiditate reiciendis minima repudiandae eveniet facilis. Excepturi, quod.  <%= fa_icon("quote-right")%></p>
          <p><%= fa_icon("quote-left")%>   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum sunt, odio provident earum, tempore veritatis id, quibusdam labore facere fugit numquam vel velit perferendis suscipit necessitatibus explicaboanimi similique molestiae, exercitationem nihil cupiditate reiciendis minima repudiandae eveniet facilis. Excepturi, quod. <%= fa_icon("quote-right")%></p>
        </div>
      </div>
      <div class="col-md-4 fb">
<<<<<<< HEAD
        <%= link_to fa_icon("facebook", text: "Login"), class: "btn btn-primary btn-lg", id: "land-login-link" %>
=======
        <%= link_to fa_icon("facebook", text: "Login"), user_omniauth_authorize_path(:facebook), class: "btn btn-primary btn-lg", id: "land-login-link" %>
>>>>>>> codeastra/develop
      </div>
    </div>
    <div class="row people">
      <div class="col-md-6 parent">
        <h3>Parents</h3>
<<<<<<< HEAD
        <%= render 'main/parent' %>
      </div>
      <div class="col-md-6 bride">
        <h3>Bride / Groom</h3>
        <%= render 'main/bride' %>
=======
        <%= render 'common/parent' %>
      </div>
      <div class="col-md-6 bride">
        <h3>Bride / Groom</h3>
        <%= render 'common/bride' %>
>>>>>>> codeastra/develop
      </div>
    </div>
  </div>
</div>