<div id="land">
  <div class="container">
    <%= render 'common/header' %> 
    <div class="row login">
      <div class="col-md-6 description">
        <div class="col-md-8 information">
          <p><%= fa_icon("quote-left")%>   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum sunt, odio provident earum, tempore veritatis id, quibusdam labore facere fugit numquam vel velit perferendis suscipit necessitatibus explicaboanimi similique molestiae, exercitationem nihil cupiditate reiciendis minima repudiandae eveniet facilis. Excepturi, quod.  <%= fa_icon("quote-right")%></p>
        </div>
      </div>
      <div class="col-md-4 fb">
        <iframe width="500" height="265" src="https://www.youtube.com/embed/jlGkw0DMhJY" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class=" people">
      <div class="col-md-12 parent">
        <h3>Parents</h3>
        <%= render 'common/parent' %>
      </div>
      <!-- <div class="col-md-6 bride">
        <h3>Bride / Groom</h3>
        <%= render 'common/bride' %>
      </div> -->
    </div>
    <%= render 'common/footer' %>
  </div>
</div>