<div id="land">
  <div class="container">
    <%= render 'common/header' %> 
    <div class="row login">
      <div class="col-md-6 description">
        <div class="col-md-8 information">
          <p><%= fa_icon("quote-left")%> We offer a one stop platform for online matchmaking that allows prospective Indian brides and Indian grooms to meet and communicate regarding matrimony. We utilize the most advanced search technology available for our matrimonal service. <strong>Registration is Free</strong> for our matrimonal service. <strong>Login through Facebook</strong> & <strong>Start Searching for prospective Indian bride and Indian grooms today!</strong> <%= fa_icon("quote-right")%></p>
        </div>
      </div>
      <div class="col-md-4 fb">
        <iframe width="500" height="265" src="https://www.youtube.com/embed/jlGkw0DMhJY" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class=" people">
      <div class="col-md-offset-2 col-md-9 parent">
        <h3>Parents</h3>
        <%= render 'common/parent' %>
      </div>
    </div>
    <%= render 'common/footer' %>
  </div>
</div>