<header>
  <% if user_signed_in? %>
    Logged in as <%= current_user.name %>
    <img src="<%= current_user.image %>" alt="image" class="img-circle">
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary pull-right" %>
  <% end %>
</header>
<div class="container">
  <div class="row">
    <h1>My Basic Details</h1>
    <%= simple_form_for @user, :url => url_for(:action => 'selection_profile', :controller => 'home'),
    :method => 'post' do |f| %>
      <%= f.input :name, input_html: {value: current_user.name} , label: 'Name' %>
      <%= f.input :College,  label: "College", input_html: {value: current_user.profile["education"][1]["school"]["name"]}  %>
    <% end %>
  </div>
  </div>
</div>
