<%= simple_form_for current_candidate, remote: true do |f| %>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          Personal Info
        </h4>
      </div>
    </a>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          <%= f.input :marital_status,:as => :radio_buttons,collection: Candidate::MARITAL_STATUS.all, label_method: :title, value_method: :code %>
          <%= f.input :religion, wrapper: false, collection: Candidate::RELIGION.all, label_method: :title, value_method: :code, include_blank: false %>
          <%= f.input :caste_id, wrapper: false, collection: Caste.all,include_blank: false, input_html: {id: "candidate_caste_input"} %>

          <div id="sub_castes_input_container" <% if @sub_castes.empty? %>styles="display:none"<% end %>>
            <%= f.input :sub_caste_id, wrapper: false, collection: @sub_castes,include_blank: true, input_html: {id: "candidate_sub_caste_input"} %>
          </div>

          <%= f.input :gothram %>
          <%= f.input :height %>
          <%= f.input :weight %>
          <%= f.input :mother_tongue, wrapper: false, collection: Candidate::MOTHER_TONGUE.all, label_method: :title, value_method: :code, include_blank: false %>
          <%= f.input :body_type, :as => :radio_buttons, collection: Candidate::BODY_TYPE.all, label_method: :title, value_method: :code %>
          <%= f.input :complexion, :as => :radio_buttons,collection: Candidate::COMPLEXION.all, label_method: :title, value_method: :code %>
          <%= f.input :physical_status,:as => :radio_buttons, collection: Candidate::PHYSICAL_STATUS.all, label_method: :title, value_method: :code  %>
          <%= f.input :salary, :label => "Salary (per annum)"%>
          <%= f.input :dosham,:as => :radio_buttons %>
          <%= f.input :star, wrapper: false, collection: Candidate::STAR.all, label_method: :title, value_method: :code, include_blank: false %>
          <%= f.input :rashi, wrapper: false, collection: Candidate::RASHI.all, label_method: :title, value_method: :code, include_blank: false %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          Habits
        </h4>
      </div>
    </a>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
          <%= f.input :food_habits, :as => :radio_buttons, collection: Candidate::FOOD_HABITS.all, label_method: :title, value_method: :code%>
          <%= f.input :smoking,:as => :radio_buttons,collection: Candidate::SMOKING.all, label_method: :title, value_method: :code  %>
          <%= f.input :drinking,:as => :radio_buttons,collection: Candidate::DRINKING.all, label_method: :title, value_method: :code  %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          Family Details
        </h4>
      </div>
    </a>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
          <%= f.input :family_type,:as => :radio_buttons,collection:Candidate::FAMILY_TYPE.all, label_method: :title, value_method: :code  %>
          <%= f.input :family_values,:as => :radio_buttons, collection: Candidate::FAMILY_VALUES.all, label_method: :title, value_method: :code %>
          <%= f.input :family_status,:as => :radio_buttons,collection: Candidate::FAMILY_STATUS.all, label_method: :title, value_method: :code  %>
      </div>
    </div>
  </div>
</div>
  <%= f.submit "Save", class: "save" %>
<% end %>
