<%= render 'common/header' %>

<div class="container-fluid">
<div class="container">
  <div class="row">
  <div>
    <%= link_to "Starred Profiles", starredprofiles_path, class: "btn btn-primary btn-lg"%>
    <%= link_to "Ignored Profiles", ignoredprofiles_path, class: "pull-right btn btn-primary btn-lg"%>
  </div>
    <% @matches.each do |match| %>
      <%= render partial: "candidates/match", locals: {match: match} %>
    <% end %>
  </div>
</div>

<%= render 'common/footer' %>
