<div class="head-top">
  <div class="navbar navbar-default">
    <h2><%= link_to "Social Matrimony", root_path, class: "main_logo" %></h2>
    <span class="caption">Connecting two different lives</span>
    <% if user_signed_in? %>
    <span class="log">As <strong><%= current_user.name %><img src="<%= current_user.image %>" alt="<%= current_user.name %>" class = "img-circle"></strong> </span>
    <%= link_to fa_icon("power-off"), destroy_user_session_path, method: :delete, 
    class: "power" %>
    <% else  %>
    <span class="fb">
      <%= link_to fa_icon("facebook", text: "Login"), user_omniauth_authorize_path(:facebook), class: "btn btn-default btn-lg", id: "land-login-link" %>
    </span>
    <% end %>
  </div>
</div>
